<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="me.jessyan.peach.shop">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>

    <!-- 用于开启 debug 版本的应用在 6.0 系统上的层叠窗口权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name="com.jess.arms.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".launcher.mvp.ui.activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".launcher.mvp.ui.activity.GuideActivity"/>

        <!-- 阿里百川兼容android8.0，替代原有activity的theme -->
        <activity
            android:name="com.ali.auth.third.ui.LoginActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"
            tools:replace="android:theme"/>

        <!-- Arms 配置 -->
        <meta-data
            android:name="me.jessyan.peach.shop.app.GlobalConfiguration"
            android:value="ConfigModule"/>

        <activity android:name=".user.mvp.ui.activity.LoginActivity">
        </activity>
        <activity android:name=".launcher.mvp.ui.activity.MainActivity">
        </activity>
        <activity android:name=".home.mvp.ui.activity.GoodsDetailActivity">
        </activity>
        <activity android:name=".user.mvp.ui.activity.RegisterActivity">
        </activity>
        <activity android:name=".user.mvp.ui.activity.BindMobileActivity">
        </activity>
        <activity android:name=".home.mvp.ui.activity.SearchGoodsActivity">
        </activity>
        <activity android:name=".home.mvp.ui.activity.SearchResultActivity">
        </activity>
        <activity android:name=".home.mvp.ui.activity.CreateShareActivity">
        </activity>
        <activity android:name=".category.mvp.ui.activity.CategorySubActivity">
        </activity>
        <activity android:name=".user.mvp.ui.activity.MessageActivity">
        </activity>
        <activity android:name=".user.mvp.ui.activity.SettingActivity">
        </activity>
        <activity android:name=".user.mvp.ui.activity.ChangeNicknameActivity">
        </activity>
        <activity android:name=".user.mvp.ui.activity.ChangePasswordActivity">
        </activity>
        <activity android:name=".user.mvp.ui.activity.BindAlipayActivity">
        </activity>
        <activity android:name=".mine.mvp.ui.activity.MyIncomeActivity"/>
        <activity android:name=".mine.mvp.ui.activity.IncomeDetailActivity">
        </activity>
        <activity android:name=".mine.mvp.ui.activity.WithdrawActivity">
        </activity>
        <activity android:name=".mine.mvp.ui.activity.WithdrawRecordActivity">
        </activity>
        <activity android:name=".mine.mvp.ui.activity.InviteActivity">
        </activity>
        <activity android:name=".mine.mvp.ui.activity.OrderActivity">
        </activity>
        <activity android:name=".mine.mvp.ui.activity.MyFansActivity">
        </activity>
        <activity android:name=".mine.mvp.ui.activity.MyCollectionActivity">
        </activity>
        <activity android:name=".home.mvp.ui.activity.PreviewActivity">
        </activity>
        <activity android:name=".mine.mvp.ui.activity.ServiceProviderActivity">
        </activity>
        <activity android:name=".mine.mvp.ui.activity.CommonProblemActivity">
        </activity>
    </application>

</manifest>